html, body {
  margin: 10;
  padding: 0;
}

canvas {
  display: block;
}

h2 {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color:darkcyan;
  text-align: center;
}