html, body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}

.heading {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding-left: 20px;
}

#quiz {
  padding-top: 10px;
}